{
  "library_dir": "/storage/emulated/0/sync/Yt",
  "poll_minutes": 15,
  "max_per_feed": 3,
  "download_per_run": 3,
  "min_duration_sec": 30,
  "max_duration_sec": 46060,
  "channel_ids": [
    "UCwdFktjRfL1MuLiLIpmVQtg",
    "UCBzDAjLfvBUBVMMP6-K-y0w",
    "UCv5dc2Zi6j5IXQ_NKTZuSLA",
    "UC4DP6Lra7Pi0sM0cpKw5MOw",
    "UCHp5LBDtzXW-71MX0N_6vpg",
    "UCTVk323gzizpujtn2T_BL7w",
    "UCCV5Z2DEYnUGIY_mO-AcQKw",
    "UC7Elc-kLydl-NAV4g204pDQ",
    "UCbWiHMb4aaxiBg6uw7xZibA",
    "UCip8ocHZcYKTMyz80YLTU5w",
    "UCpNkrOqyrBb7BFybfmRFItg",
    "UCtrolX0qkI3ya3y24RqXL6w",
    "UCkp0Tc7ll67bChomTyB1ezQ",
    "UCywvfSUIn8HW9UQD2wz_N8Q",
    "UCGQy4rEB6H8u92RlCBFyb9A",
    "UCHDodUZkV9WVsPAErEVx2kA",
    "UCL1rJ0ROIw9V1qFeIN0ZTZQ",
    "UC2KPugVH-BPDAwxTDMdMcug",
    "UCW06e3Y2_HVdxUJGqTa1nVg",
    "UCSOHFJ3ILTuIqoZA2Z6BFxQ",
    "UC54SBo5_usXGEoybX1ZVETQ",
    "UCc3wvzU99elwjLO4_HOTmog",
    "UC3QaiR692SViVT-7_Vj0jEw",
    "UCcXakpzy1h_2EBkIndyusuw",
    "UCO1lJlI3gjuOMrKppvPlDww",
    "UCnbGR1mOt2ER3glUovq1C6w",
    "UC4Cap1xVy2waDXfzM5ka6lg",
    "UCWAIvx2yYLK_xTYD4F2mUNw",
    "UCXoAjrdHFa2hEL3Ug8REC1w",
    "UC7wqeVwzexXNUb25RqxtoeA",
    "UCYDXvolrSXB1qbCpOZkHpjg",
    "UCaR6XjSJJsLbKN3n6VYsGKw",
    "UCi_QNPOjDPfm1ipVnauLFvA",
    "UC1bFQRZLgbShAkKGY0UMrWQ",
    "UCtENsC_MhelLOW267K7aPfg",
    "UCymkpnw3jTk7J6ggCFQVLGg",
    "UCpakYOycn3O5W5S50l-0VIg",
    "UCX4dju2E22Sj3sW0Pl5jmEA",
    "UCzfybJlm6LRwxBe5Z_BnI2Q",
    "UC7yPIxQh-uNYnkiPDfWFwgw",
    "UCWYLVV7741O3UI2DfoGT3Yw",
    "UCb64k6yqn3s4DlayVkbJ2qw",
    "UChLpUGaZO35ICTltBP50VSg",
    "UCBOsjhPAtNLZsqctRb3wL5A",
    "UCOQtPnRB2AoUptQLCsCZq5A",
    "UC1Fpq1a9kE85vTtjot3LwyQ",
    "UCAg74TJrwfpuCp1Jo3ZHMjA",
    "UCHgiqmsIHN2PlQnBIRFRGGg",
    "UC8kI2B-UUv7A5u3AOUnHNMQ",
    "UCcE10s4MFy4eed7q7QkonZg",
    "UCPA91JeKp2rqg4bi2Q_OAxQ",
    "UCnqlr-hjkUcVVzuRYO4-3tQ",
    "UCdxesVp6Fs7wLpnp1XKkvZg",
    "UCURbSRuSdwekYkveAkczkQw",
    "UCSRtRl2Msw71NnYQduHmMgw",
    "UC4NQG2u8P7t29T3aSxmGrTQ",
    "UCCXF68Da_ndcmvv_9OG75Cw",
    "UCAOBxIKec52ZfchA37PWW1w",
    "UCMs1SgOQpYp7v8xbn0wwT2A",
    "UCQVtD_N4OeD-9PshBq7NwyQ",
    "UCYDuWqDwzAFG4xrI5uJEWfw",
    "UCco1OTTnp4M4eNDMPPj7URg",
    "UCVbz7l0COUdLupcY4YtYH0w",
    "UCIxni20QqMgXBAzcz8LPqvg",
    "UCzaqqlriSjVyc795m86GVyg",
    "UCq19-LqvG35A-30oyAiPiqA",
    "UCyYl1mXWoe4z_FcxzMaDHCw",
    "UC4cQZawFz5v41RjYhlCCytA",
    "UCFwlsIXRvtTsO_LH-rVy6Sg",
    "UCL6IdMqhSfbZyym_Zio_vOQ",
    "UCyC4DZkO-S35jBXeDgvXqXw",
    "UCClCSK5loJ3Sl-Oa65C0FQQ",
    "UC5wRw_R3kzwV5zGe7kzec8A",
    "UCjQdM9q_Vd2gBN9Xy_zRDJQ",
    "UCJUSYz0jS7MmzOIZiz_lsaw",
    "UCKIMqskV9v4NICqfaMFP0DQ",
    "UC8Z61DotGng2p8TqSuc7nbA",
    "UC8iJTXSab-31AtCpjWxCezQ",
    "UCCzhcc7CAxWbnauu3EKKl3w",
    "UCx4Sg5jNUqYYlKrcR-QZqZA",
    "UCLbS7huT6zjGaCNmPN6Ocfg",
    "UCsNcs5R7FiVo55ZnDoEXY8g",
    "UCy4IcQVIeKlY5igEMoiRVPw",
    "UCgf8ar91zCIdYBGljzmWC1Q",
    "UC3DTiQ4EPmSCHWKjkvwrVvQ",
    "UC8vBjPjLtx103TC_NXxCOcw",
    "UCWa7Se1YljAJv3SqxpBb8AQ",
    "UCMb3YscxDOo7rgJ-AvrCXdw",
    "UC-bDU31p-pBoWj8oa4-07ww",
    "UC6v8wkQh45X3q8zPMnOG-ZA",
    "UCXryGtEZgyiev04m-3rHWYA",
    "UCbJQ5QEAfyRNO7t5gpWfuDQ",
    "UCEtQKT-yMHSGYUSHnicEGpg",
    "UCqNzEb1xi6c_l4ZUmozLt9Q",
    "UC2lgvkAKm3jCSY4QB5JkNtg",
    "UCpRPhdjXrbnsAqzRoF2Tvdg",
    "UCdu4pZVmMB_LNFiH53YEb5g",
    "UC7iRiHgDeGIf3oyyFN_lK0g",
    "UCuouXgzhqqqu-GDFv_JeiuQ",
    "UCp6KXhxSs-Kyh17S3JMcJQQ",
    "UCMZetybdg6bxShhbrhEJLkA",
    "UCXVoE34hX0LBob9zQ677MTw",
    "UCkcruN24mw2_ApM-dt8hxig",
    "UCMBdo4wU-icqe2YqE59zivg",
    "UCYm967mfyZkKABcV_DOF-KA"
  ]
}
